<!DOCTYPE html>
<html lang="ja">

<head>
    <meta harset="UTF-8">
    <title>login2</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/css/login2.css">-->
</head>

<body>
    <div class="all">
        <h1>ログイン</h1>
        <form action="./syuttaikin.html">
            <p id="text1">○○@gmail.com</p>
            <p id="text2">送信された文字を入力してください</p>
            <p> <input id="textbox" type="text" name="pass"> </p>
            <input type="submit" value="送信" id="button1">
        </form>

    </div>
</body>

</html>