<!DOCTYPE html>
<html lang="ja">

<head>
	<meta harset="UTF-8">
	<title>login1</title>
	<link rel="stylesheet" type="text/css" href="../static/css/login1.css">

</head>

<body>
<	<div class="all">
		<h1>ログイン</h1>
		<form th:action="@{/login1}" method="POST">
			<div class="form-group">
				<p id="text">ユーザーID</p>
				<p id="textbox1"><input type="text" name="useID"></p>
				<p id="text">パスワード</p>
				<p id="textbox2"><input type="text" name="pass"></p>
				<div class="a">
					<a href=03_touroku.html>ユーザー登録</a>
					<button type="submit" class="btn btn-primary">送信</button>
				</div>
		</form>
	</div>
</body>
</html>

