<!DOCTYPE html>
<html lang="ja">

<head>
    <meta harset="UTF-8">
    <title>有給申請</title>
   <link rel="stylesheet" type="text/css" href="../css/sinsei1.css">
</head>

<body>

  <header>
        <p id="obi">有給申請</p>
        <div id="hanbaga">
            <input type="checkbox" id="menu">
            <label for="menu" class="menu">
                <span></span>
                <span></span>
                <span></span>
            </label>

            <nav class="nav">
                <ul>
                    <li><a href="./syuttaikin">出勤・退勤</a></li>
                    <li><a href="./nissuu">出勤日数</a></li>
                    <li><a href="./zangyou">累計残業時間</a></li>
                    <li><a href="./sinsei1">有給申請</a></li>
                    <li><a href="./logout">ログアウト</a></li>
                </ul>
            </nav>
    </header>
    </div>
    
    	<table class="table_design08">
		<thead>
			<th>申請日</th>
		</thead>
		<tbody>
			<tr th:each="result : ${paid}">
				<td th:text="${result}"></td>
			</tr>
		</tbody>
	</table>

    <footer>
        <form action="./sinsei2">
            <p><input type="submit" value="申請" id="sinsei"></p>
        </form>
    </footer>
</body>

</html>