<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="UTF-8">
<title>ユーザー登録</title>
<link rel="stylesheet" type="text/css" href="/css/touroku.css" >
</head>

<body>
	<h1>ユーザー登録</h1>
	<form th:action="@{/touroku}" method="POST">
		
		<div>
			<table>

				<tr>
					<th>ユーザーID</th>
					<td><input type="text" name="useID" class="textbox">(16)</td>
				</tr>
				<tr>
					<th>パスワード</th>
					<td><input type="password" name="pass" class="textbox">(16)</td>
				</tr>
				<tr>
					<th>氏名</th>
					<td><input type="text" name="name" class="textbox">(30)</td>
				</tr>
				<tr>
					<th>メールアドレス</th>
					<td><input type="text" name="mail" class="textbox">(40)</td>
				</tr>

			</table>
			<button type="submit" class="btn btn-primary">登録</button>
		</div>
	</form>
</body>

</html>